# Ignore datasets
data/
Img_gene/
mlruns/
*.csv
*.npy
*.npz

# Ignore trained models
*.h5
*.hdf5

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
env/
venv/

# modelo pesado  original
models/model_final_B4_v1_advanced.h5
