# Ignore datasets
data/
Img_gene/
mlruns/
*.csv
*.npy
*.npz

# Ignore trained models


# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
env/
venv/

# modelo pesado  original

